.searchbox {
	margin-top: 16px;
	margin-bottom: 30px;
	display: flex;
	position: relative;
}

.searchbox-input {
	flex-grow: 1;
	border: none;
	padding: 15px;
	border: 0.2px solid #9ca3af;
	outline: none;
	border-radius: 5px;
	letter-spacing: 0.5px;
	color: #4b5563;
	font-size: 16px;
}

.search-icon {
	color: #4b5563;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 15px;
}

.searchbox-input:focus {
	border: 1px solid #323a44;
}
