body {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #374151;
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	margin: auto;
	justify-items: center;
}
